<!DOCTYPE html>
<html lang="en">
<head>
    <title>Haskell-101 - $title$</title>
        <meta charset="utf-8" />
     <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="stylesheet" href="/css/main.css" media="all" />
        <link rel="stylesheet" href="/css/mobile.css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300italic,600italic,400,600,700,800' rel='stylesheet' type='text/css">
        <!--[if IE]>
                <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->      

</head>

<body id="index" class="home">
  <header id="header">
     <div class="constraint">
       <div class="o"> 

   <a href="/"><h1>Haskell-101</h1></a>

    <div class="nav">
                    <a href="/">Accueil</a>
              <a href="/archive.html">Archives</a>

           </div>
         </div>
         </div>
         </header><!-- /#banner -->

<section class="content blog">

<div class="constraint">
<div class="posts">
  $body$
</div>
</div>
<aside class="sidebar"></aside>
</section>

    <footer id="footer">
    <p class="copyright">
                <address id="about" class="vcard body">
                    Sité généré avec <a target="blank" href="https://jaspervdj.be/hakyll/">Hakyll</a>. Theme par <a  target="blank" href="https://github.com/daker">Adnane Belmadiaf</a>                    
             </address><!-- /#about -->

       </p>
       <p class="copyright">contact[at]haskell-101.fr</p>
        </footer><!-- /#contentinfo -->
<script>
    if("127.0.0.1" !== window.location.hostname){
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80968251-1', 'auto');
        ga('send', 'pageview');
    }          
        </script>
</body>
</html>
